<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>All cocktails</h1>
      <ul class="list-group">
        <% @cocktails.each do |cocktail| %>
          <li class="list-group-item">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </li>
        <% end %>
      </ul>
      <%= link_to "Add a new Cocktail", new_cocktail_path, class: 'btn btn-primary' %>

      <%= cl_image_tag("nmapca4jufzkb5yapxze",
      width: 400, height: 300, crop: :fill) %>

      <%= cl_image_tag("ai3dgyqar2w0wpbq8oon",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
    </div>
  </div>
</div>
